:host {
  display: grid;
  --frame-color-bg0: hsl(260 70% 55%);
  --frame-color-bg1: hsl(260 70% 50%);
  --frame-color-fg: hsl(0 0% 100%);
  --screen-color-bg0: hsl(200 100% 95%);
  --screen-color-bg1: hsl(0 100% 97%);
  --screen-stripe-size: 32px;
  --button-color-fg: hsl(50 90% 20%);
  --button-color-bg0: hsl(50 100% 60%);
  --button-color-bg1: hsl(50 70% 50%);
  --button-color-shine: hsl(50 100% 80%);
  --button-color-border: hsl(260 70% 45%);
  --font-cool: "Whisper", sans-serif;
}

* {
  box-sizing: border-box;
}

:host([hidden]) {
  display: none;
}

.heading {
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  font-family: var(--font-cool);
  text-align: center;
}

.frame {
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      at center,
      var(--frame-color-bg0) 80%,
      var(--frame-color-bg1)
    )
    var(--frame-color-bg0);
  color: var(--frame-color-fg);
  padding: 16px;
}

.screen {
  overflow-y: auto;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px hsl(0 0% 0% / 40%), 0 0 2px 2px hsl(0 0% 100% / 20%),
    inset 0 0 8px hsl(0 0% 0% / 20%), inset 0 4px 8px hsl(0 0% 0% / 20%);
  color: var(--bit-color-fg);
  background: var(--bit-color-bg);

  /* https://css-pattern.com/ */
  --s: 100px; /* control the size */
  --c1: var(--screen-color-bg0);
  --c2: var(--screen-color-bg1);
  --l: var(--c1) 99%, #0000 101%;
  --p: var(--c2) 99%, #0000 101%;
  --r: closest-corner at;
  background: radial-gradient(var(--r)-25% 25%, var(--p)),
    radial-gradient(var(--r) 25% -25%, var(--p)),
    radial-gradient(var(--r) 125% 75%, var(--p)),
    radial-gradient(var(--r) 75% 125%, var(--p)),
    radial-gradient(var(--r) 75% 75%, var(--l)),
    radial-gradient(var(--r) 25% 25%, var(--l)) var(--c2);
  background-size: var(--s) var(--s);
}

.controls {
  --controls-columns: 2;
  margin: 0;
  margin-top: 16px;
  line-height: 1;
  font-family: var(--font-cool);
  display: grid;
  grid-template-columns: repeat(var(--controls-columns), minmax(100px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

@media (min-width: 550px) {
  .controls {
    --controls-columns: auto-fit;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  --base-shadow: 0 0 0 1px var(--button-color-border),
    0 0 1px 4px var(--frame-color-bg1), 0 0 4px 4px hsl(0 0% 100% / 10%);
  font-size: inherit;
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  line-height: 1;
  padding: 12px 16px 16px 16px;
  border: 0;
  color: var(--button-color-fg);
  background: var(--button-color-bg0);
  box-shadow: inset 0 -4px 0 0 var(--button-color-bg1),
    inset 0 1px 0 var(--button-color-shine), var(--base-shadow);
  border-radius: 9999px;
}

.button:where(:active) {
  background: var(--button-color-bg1);
  box-shadow: var(--base-shadow);
  translate: 0 1px;
  scale: 98%;
}

.button:where(:focus-visible) {
  outline: 2px solid var(--button-color-bg0);
  outline-offset: 2px;
}
