:host {
  display: grid;
  --frame-color-bg0: hsl(260 70% 55%);
  --frame-color-bg1: hsl(260 70% 50%);
  --frame-color-fg: hsl(0 0% 100%);
  --screen-color-bg0: oklch(96% 10% 120);
  --screen-color-bg1: oklch(98% 10% 80);
  --screen-stripe-size: 32px;
  --font-cool: "Whisper", sans-serif;
}

.heading {
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  font-family: var(--font-cool);
  text-align: center;
}

.controls {
  margin-top: 8px;
  line-height: 1;
  font-family: var(--font-cool);
}

.frame {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      at center,
      var(--frame-color-bg0) 80%,
      var(--frame-color-bg1)
    )
    var(--frame-color-bg0);
  color: var(--frame-color-fg);
  box-shadow: inset 0 0 2px 1px hsl(0 0% 100% / 20%);
  padding: 16px;
}

.screen {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid hsl(0 0% 0% / 30%);
  box-shadow: 0 0 2px 1px hsl(0 0% 100% / 20%), inset 0 0 8px hsl(0 0% 0% / 20%),
    inset 0 4px 8px hsl(0 0% 0% / 20%);
  color: var(--bit-color-fg);
  background: var(--bit-color-bg);
  background-clip: padding-box;
  background-color: var(--screen-color-bg0);
  background-image: linear-gradient(
      135deg,
      var(--screen-color-bg1) calc(25% - 0.5px),
      transparent 25%
    ),
    linear-gradient(
      225deg,
      var(--screen-color-bg1) calc(25% - 0.5px),
      transparent 25%
    ),
    linear-gradient(
      45deg,
      var(--screen-color-bg1) calc(25% - 0.5px),
      transparent 25%
    ),
    linear-gradient(
      315deg,
      var(--screen-color-bg1) calc(25% - 0.5px),
      var(--screen-color-bg0) calc(25%)
    );
  background-position: var(--screen-stripe-size) 0, var(--screen-stripe-size) 0,
    0 0, 0 0;
  background-size: var(--screen-stripe-size) var(--screen-stripe-size);
  background-repeat: repeat;
}
