:host {
  display: contents;
}

:host([data-theme="light"]) {
  --dialog-color-border: hsl(0 0% 0% / 50%);
}

:host([data-theme="dark"]) {
  --dialog-color-border: hsl(0 0% 100% / 50%);
}

::backdrop {
  background: hsl(0 0% 15% / 80%);
  backdrop-filter: blur(4px);
}

* {
  box-sizing: border-box;
}

dialog {
  padding: 8px 16px;
  max-height: calc(100svh - 32px);
  min-width: calc(50svw - 32px);
  width: 500px;
  border-radius: var(--bit-border-radius);
  border: 0;
  box-shadow: 0 0 0 1px var(--dialog-color-border), 0 2px 4px hsl(0 0% 0% / 20%),
    0 4px 8px hsl(0 0% 0% / 20%);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog h2,
dialog p {
  margin: 0;
}

.bit-root {
  --bit-border-radius: 4px;
}

:host([data-theme="light"]) .bit-root {
  --bit-color-bg: hsl(0 100% 98%);
  --bit-color-fg: hsl(0 100% 25%);
  --bit-color-shadow: hsl(0 75% 75%);
  --bit-color-accent: hsl(200 100% 25%);
}

:host([data-theme="dark"]) .bit-root {
  --bit-color-bg: hsl(0 0% 15%);
  --bit-color-fg: hsl(0 0% 90%);
  --bit-color-shadow: hsl(0 0% 45%);
  --bit-color-accent: hsl(180 100% 50%);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
