:host {
  display: grid;
  --frame-color-bg: hsl(230 80% 80%);
  --frame-color-fg: hsl(230 40% 60%);
  --frame-color-etch: hsl(230 80% 85%);
  --screen-stripe-size0: 32px;
  --screen-stripe-size1: 16px;
}

.heading {
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Whisper", sans-serif;
  text-align: center;
}

.frame {
  display: flex;
  flex-direction: column;
  background: var(--frame-color-bg);
  color: var(--frame-color-fg);
  text-shadow: 1px 1px 0 var(--frame-color-etch);
  padding: 16px;
}

.screen {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
  border-radius: 8px;
  border: 1px solid hsl(0 0% 0% / 30%);
  box-shadow: inset 0 2px 16px hsl(0 0% 0% / 20%),
    inset 0 4px 32px hsl(0 0% 0% / 20%);
  color: var(--bit-color-fg);
  background: var(--bit-color-bg);
  background-clip: padding-box;
  background-color: var(--screen-color-bg0);
  background-image: linear-gradient(
      135deg,
      var(--screen-color-bg1) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--screen-color-bg1) 25%, transparent 25%),
    linear-gradient(45deg, var(--screen-color-bg1) 25%, transparent 25%),
    linear-gradient(
      315deg,
      var(--screen-color-bg1) 25%,
      var(--screen-color-bg0) 25%
    );
  background-position: var(--screen-stripe-size0) 0,
    var(--screen-stripe-size0) 0, 0 0, 0 0;
  background-size: var(--screen-stripe-size0) var(--screen-stripe-size0);
  background-repeat: repeat;
}
