:host {
  display: block;
  --pixel-size: 6px;
  --pixel-gap: 1px;
  --pixel-color0: hsl(74 32% 10% / 3%);
  --pixel-color1: hsl(74 32% 10% / 70%);
  --pixel-color1-shadow: hsl(74 32% 10% / 20%);
}

@media (min-width: 400px) {
  :host {
    --pixel-size: 8px;
  }
}

@media (min-width: 500px) {
  :host {
    --pixel-size: 10px;
  }
}

@media (min-width: 600px) {
  :host {
    --pixel-size: 12px;
  }
}

@media (min-width: 700px) {
  :host {
    --pixel-size: 14px;
  }
}

@media (min-width: 800px) {
  :host {
    --pixel-size: 16px;
  }
}

.pixel-grid {
  display: grid;
  grid-template-columns: repeat(var(--screen-width), var(--pixel-size));
  gap: var(--pixel-gap);
  justify-content: center;
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--pixel-color);
}

.pixel[data-color="0"] {
  background: var(--pixel-color0);
}

.pixel[data-color="1"] {
  background: var(--pixel-color1);
  box-shadow: calc(var(--pixel-size) / 4) calc(var(--pixel-size) / 4)
    calc(var(--pixel-size) / 2) var(--pixel-color1-shadow);
}
