:host {
  --font-size: 24px;
  --pixel-size: 6px;
  --pixel-gap: 1px;
  --pixel-color0: hsl(0 0% 0% / 5%);
  --pixel-color1: hsl(0 0% 0% / 60%);
  --pixel-color1-shadow: hsl(0 0% 0% / 20%);
  display: grid;
  gap: 16px;
  font-size: var(--font-size);
  color: var(--pixel-color1);
  text-shadow: calc(var(--pixel-size) / 4) calc(var(--pixel-size) / 4)
    calc(var(--pixel-size) / 2) var(--pixel-color1-shadow);
}

:host([hidden]) {
  display: none;
}

@media (min-width: 400px) {
  :host {
    --font-size: 26px;
    --pixel-size: 8px;
  }
}

@media (min-width: 500px) {
  :host {
    --font-size: 28px;
    --pixel-size: 10px;
  }
}

@media (min-width: 600px) {
  :host {
    --font-size: 30px;
    --pixel-size: 12px;
  }
}

@media (min-width: 700px) {
  :host {
    --font-size: 32px;
    --pixel-size: 14px;
  }
}

@media (min-width: 800px) {
  :host {
    --font-size: 34px;
    --pixel-size: 16px;
  }
}

.meter {
  letter-spacing: 0.125em;
  line-height: 1;
  display: flex;
  gap: 0.125em;
}

.meter-label {
  flex: auto;
  margin-right: 1em;
}

[data-color="0"] {
  color: hsl(0 0% 0% / 5%);
  text-shadow: none;
}

.pixel-grid {
  display: grid;
  grid-template-columns: repeat(var(--screen-width), var(--pixel-size));
  gap: var(--pixel-gap);
  justify-content: center;
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--pixel-color);
}

.pixel[data-color="0"] {
  background: var(--pixel-color0);
}

.pixel[data-color="1"] {
  background: var(--pixel-color1);
  box-shadow: calc(var(--pixel-size) / 4) calc(var(--pixel-size) / 4)
    calc(var(--pixel-size) / 2) var(--pixel-color1-shadow);
}

svg {
  width: 1em;
  height: auto;
}

[data-color="1"] > svg {
  fill: var(--pixel-color1);
  filter: drop-shadow(
    calc(var(--pixel-size) / 4) calc(var(--pixel-size) / 4)
      calc(var(--pixel-size) / 2) var(--pixel-color1-shadow)
  );
}
