:host {
  display: block;
  --pixel-size: 16px;
  --pixel-gap: 1px;
  --pixel-color0: hsl(74 32% 10% / 0%);
  --pixel-color1: hsl(74 32% 10% / 5%);
  --pixel-color2: hsl(74 32% 10% / 30%);
  --pixel-color3: hsl(74 32% 10% / 70%);
}

.pixel-grid {
  display: grid;
  grid-template-columns: repeat(var(--screen-width), var(--pixel-size));
  gap: var(--pixel-gap);
  justify-content: center;
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--pixel-color);
}

.pixel[data-pixel-color="0"] {
  background: var(--pixel-color0);
}

.pixel[data-pixel-color="1"] {
  background: var(--pixel-color1);
}

.pixel[data-pixel-color="2"] {
  background: var(--pixel-color2);
}

.pixel[data-pixel-color="3"] {
  background: var(--pixel-color3);
}
