@font-face {
  font-display: swap;
  font-family: "Whisper";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/whisper.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fantasma";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fantasma.woff2") format("woff2");
}

:root {
  --font-cool0: "Whisper", system-ui, sans-serif;
  --font-cool1: "Fantasma", system-ui, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100svh;
  display: grid;
  font-family: var(--font-cool1);
  line-height: 1.5;
  font-size: 24px;
}
