html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: grid;
}

:root,
.bit-root,
.bit-auto {
  --bit-color-bg: hsl(74 32% 90%);
  --bit-color-fg: hsl(74 32% 10% / 75%);
  --bit-color-shadow: hsl(74 32% 10% / 38%);
  --bit-color-accent: hsl(74 32% 10% / 95%);
}
